* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  position: absolute;
  top: 3em;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.cards {
  display: grid;
  margin-top: 15em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px 50px;
  width: 80%;
  height: 80%;
}

.card {
  position: relative;
  height: 225px;
  width: 225px;
  /* background-color: #405796; */
/* background-color: #EA80FC; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow: 0 0 10px 5px rgba(189, 195, 230, 0.3); */
  box-shadow: 2px 5px 16px 3px rgba(255, 255, 255, 0.658); 
}

.card::before {
  background-image: url("./logo.png");
  background-size: 98%;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.35;
}

.card:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.5s;
}

.card img {
  width: 66%;
  isolation: isolate;
}

.hide {
  display: none;
}

.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner {
  font-size: 100px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
}

.restart-btn {
  height: 50px;
  width: 80px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 25px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  border: none;
  cursor: pointer;
}

.restart-btn:hover {
  color: white;
  background-position: left bottom;
}

@media (max-width: 1200px) {
  .cards {
    display: grid;
    margin-top: 1em;
    margin-left: 8em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px 30px;
    width: 80%;
    height: 70%;
  }
  .card {
    height: 200px;
    width: 200px;
  }
  .heading {
    position: absolute;
    left: 12em;
    margin: auto;
  }
}

@media (min-width: 360px) and (max-width: 750px) {
  .cards {
    display: grid;
    margin-top: 5em;
    margin-left: -1.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px 20px;
    width: 80%;
    height: 80%;
  }
  .card {
    height: 150px;
    width: 150px;
  }
  .heading {
    position: absolute;
    left: 2.5em;
    margin: auto;
    font-size: 15px;
  }
  .winner {
    font-size: 85px;
    font-weight: bolder;
    color: #fff;
    text-align: center;
  }
}
